// Mobile screen
$mobile-screen-max-width: 760px;

// Colors
$white-blue: #f5f8ff;
$lightest-blue: #e7ebf6;
$lighter-blue: #c3c8e6;
$light-blue: #6d7ac2;
$blue: #283ca5;
$dark-blue: #1b2970;

$lightest-yellow: #fffae5;
$lighter-yellow: #fff1b8;
$light-yellow: #ffdd52;
$yellow: #ffcd00;
$dark-yellow: #d6ac00;
$darker-yellow: #ad8b00;
$darkest-yellow: #927500;

$lightest-green: #e9faf0;
$lighter-green: #cbf2db;
$green: #46d27d;
$dark-green: #308f55;
$darker-green: #246d41;

$lightest-orange: #ffd8ce;
$orange: #ffa088;

$lightest-red: #fff1ed;
$red: #ff7350;
$dark-red: #d66143;
$darker-red: #ad4e36;

$darker-grey: #707070;
$grey: #f0f0f0;
$lightgrey: #d3d3d3;

$pdf-red: #d32f2f;
