.page {
  //height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    flex: 1;
    display: flex;
    justify-content: center;

    .content {
      width: 100%;
      background: linear-gradient(135deg, #f77f00 0%, #ffffff 50%, #009e49 100%);
    }
  }
}
